extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Caleb Waldner

        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p
            | A life long learner who excels at problem solving, teamwork, and the disciple required to learn new concepts and technologies in an ever evolving industry. 
            | Growing professional offering ten strong years of diverse and exciting experience helping people and organizations grow. Experience includes leadership, project management, public speaking, mentorship, team building, systems development, problem solving, sales, and day-to-day operations.
            | I love challenging opportunities where my strengths and pursuits can be maximized towards the achievement of something great, finding solutions, building projects, and working with others toward a goal
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Node.js
          li SQL
          li Express
          li Debugging
          li Pug
          li HTTP Request
          li Asynchronous Coding 
          li Regular Expressions
        h6 Contact Info

        ul
          li 605-929-9124
          li caleb.waldner@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/caleb-waldner-96590a132/', target= "_blank") LinkedIn
        a.button.expanded(href='https://github.com/calebwaldner', target= "_blank") GitHub
        a.button.expanded(href='https://twitter.com/calebwaldner', target= "_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  